<<<<<<< HEAD
/*  styling scrollbars  */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c9eee1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #052d31;
}
 body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 14vh;  
   margin: 0;
    padding: 0;
    border: 0;
    background-color: #597272;
    background-size: cover;
    overflow: scroll;
    position: sticky;
}

 header {
    position: fixed;
    background: #052d31;
    padding: 20px;
    width: 100%;
    height: 30px;
  }

  .left_area h3 {
    color: rgb(24, 218, 33);
    margin: 0 20;
    font-size: 25px;
    font-weight: 900;
     font-family: "Times New Roman", Times, serif;
  }

h1 {
  color: rgb(179, 0, 0);
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    margin-left: 300px;

}

h2 {
  color: rgb(179, 0, 0);
  font-size: 20px;
}

h4 {
  color: rgb(179, 0, 0);
  font-size: 20px;
}

.left_area h1 {
    color: rgb: red;
    margin: 0 20;
    font-size: 25px;
    font-weight: 900;
     font-family: "Times New Roman", Times, serif;
  }

#content{
  overflow: scroll;
}

.container {
  background-color:#c2d6d6;
  box-shadow: 0 14px 40px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  position: fixed;
  overflow: hidden;
  width: 900px;
  min-height: 550px;
  margin-top: 650px;
  overflow: auto;
}


.form-container {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 1500px;
  padding: 80px 40px;
  background: currentColor:#c2d6d6 ;
} 
