body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f3f4f6;
}
header{
  position: fixed;
  background: #052d31;
  padding: 20px;
  width: 100%;
  height: 30px;
  display: inline-flex;
}


.resident_card_header h3{
  color: rgb(24, 218, 33);
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    font-weight: 900;
  }

  .resident_card_header span{
    color: rgb(245, 245, 245);
  }

  .left_area h3{
    color: rgb(24, 218, 33);
      text-transform: uppercase;
      margin: 0;
      font-size: 20px;
      font-weight: 900;
    }
  
    .left_area span{
      color: rgb(245, 245, 245);
    }

  .right_area{
  margin-left: 720px;
  }
  

.resident_card_header button{
  background-image: #fff;
  border-radius: 10px;
  font-size: .8rem;
  padding: .2rem 1rem;
  border: 2px solid;
}

.btn_grid{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 61% auto;
  margin-top: 140px;
  margin-left: 1129px;
    border-radius: 5px;
    display: inline-flex;
    gap: 20;
}

.btn_card button{
  border-radius: 5px;
  padding: 14px 14px 14px 14px;
}


table {
  border-collapse: collapse;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate( -50%, -50%);
  width: 1200px;
  border: 2px solid black;
  box-shadow: 2px 2px 12px rgba(92, 206, 149, 0.2), -1px -1px 8px rgba(255, 255, 255, 0.2);
}

.resident_grid{
  background-image: linear-gradient(135deg, #31474d 0%, #597272 74%);
}

thead tr{
  border-top: 1px solid black;
  border-bottom:  1px solid black;
  color: black;
}

thead td{
  font-weight: 600;
}

td{
  padding: .5rem 1rem;
  font-size: .94rem;
  color: #222
  width: 50%;
}

tr:hover{
 transform: scale(1.01);
 box-shadow: 2px 2px 12px rgba(92, 206, 149, 0.2), -1px -1px 8px rgba(255, 255, 255, 0.2);

}

tr td:last-child {
  display: flex;
  align-items: center;
}
.button {
  background-color: #01281A; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 100px;
  cursor: pointer;
}


.button:hover{
  background: #16b37e;
}

.popup .overpopup {
  position: fixed;
  top: 150px;
  left: 410px;
  width: 470px;
  height: 430px;
  background: white;
  z-index: 1;
  display: none;
  border-radius: 5px;
  border: 2px solid #052d31;
  overflow: scroll;
}

.popup .popupcontent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 470px;
  height: 300px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup button{
margin-left: 350px;
    border-radius: 5px;
    padding: 14px 14px 14px 14px;
}

.popup .residentimg{
    width: 150px;
    height: 150px;
    top: 10px;
    left: 10px;
    margin-bottom: 0px;
    position: relative;
    display: inline-flex;
}

.popup .popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -0px;
    right: -0px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popup.active .overpopup {
  display: block;
}

.popup.active .popupcontent {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}