@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*{
  padding: auto;
  margin: 0;
  background: fixed;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(135deg, #014e44 10%, #309b9b 74%);
}

header{
  position: fixed;
  background: #052d31;
  padding: 20px;
  width: 100%;
  height: 30px;
}

.left_area h3{
  color: rgb(24, 218, 33);
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    font-weight: 900;
  }

  .left_area span{
    color: rgb(245, 245, 245);
  }

.logout_btn{
  padding: 5px;
  background: rgb(24, 218, 33);;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #395858;
}


.content{
  margin-left: 0px;
  height: 100vh;
  transition: 0.5s;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #014e44 10%, #309b9b 74%);
}


main {
  background-image: linear-gradient(135deg, #014e44 10%, #309b9b 74%);
  margin-left: 0px;
  min-height: calc(100vh - 90px;);
  display: inline-block;
  transition: 0.5s;
  transition-property: left;
  height: 500px;
  margin-top: 50px;
}

.main__container {
  padding: 50px 20px;

}
.main__title {
  display: flex;
  align-items: center;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #f7f7f7;
}


.menu-area li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: unset;
  padding:  10px 10px;
  font-size: 14px;
  line-height: 30px;

  z-index: 1;

}
.menu-area li {
  list-style: none;
  display: inline-flex;

}
.custom-padding {
margin-bottom: 20px;
margin-top: -30px;
}
nav {
  display: inline-flex;
  justify-content: space-between;
  position: unset;
  padding: 25px 50px 25px 10px;
  z-index: 1;
  background: #333;

  width: calc(100% - 60px);
  margin-top: 50px;
}
.start {
  width: -30%;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;

}
.menu-area li a:hover {
  background: rgb(24, 218, 33);;
  color: #fff;
}

.table_grid{
display: grid;

  grid-template-columns: 80% auto;
  margin-top: 5px;
    border-radius: 5px;
    margin-top: 20px;
      background: #fff;
      border-radius: 5px;
align-items: center;

  margin-bottom: 0px;
}

.table-box
{
    margin: 100px auto; 
    margin-top: 30px;
}

.table-row{

    display: table;
    width: 130%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 7px 0;
    color: #555;
    font-size: 15px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);

}
.table-head{
    background:#013228;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 200px;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;

}


.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
}
#registration {
  border-radius: 20px;
  border: 1px solid #2F4F4F;
  background-color: #052d31;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
margin-left: 320px;
margin-top: 10px;
position: absolute;
}
#registration1 {
  border-radius: 20px;
  border: 1px solid #2F4F4F;
  background-color: #052d31;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
margin-left: 470px;
margin-top: 10px;
position: absolute;
}
#registration2 {
  border-radius: 20px;
  border: 1px solid #2F4F4F;
  background-color: #052d31;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
margin-left: 600px;
margin-top: 10px;
position: absolute;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: green;
  border-color: #FFFFFF;
}
