/*  styling scrollbars  */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c9eee1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #052d31;
}
 body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 14vh;  
   margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    background-size: cover;
    position: sticky;
}

body::before{
  content: '';
  position: fixed;
  width: 390px;
  height: 300px;
  background-image: url(bg.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: 170px 120px;
  margin-top: 185px;
  margin-left: 620px;
}

header{
  position: fixed;
  background: #052d31;
  padding: 20px;
  width: 100%;
  height: 30px;
  margin-top: -20px;
}

.left_area h3{
  color: rgb(24, 218, 33);
    text-transform: uppercase;
    margin-top: -5px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 900;
  }

  .left_area span{
    color: rgb(245, 245, 245);
  }

  .right_area{
      text-transform: uppercase;
      margin-top: -61px;
      text-align: right;
      margin-right: 10px;
      font-size: 25px;
      font-weight: 900;
    }
  
    .right_area span{
      color: rgb(245, 245, 245);
    }


h1 {
  color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: -70px;
}

.pstyle{
  font-size: 12px;
  text-align: center;
}

p{
  text-align: justify;
}

.left_area h1 {
    color:  red;
    margin: 0 20;
    font-size: 25px;
    font-weight: 900;
     font-family: "Times New Roman", Times, serif;
  }

#content{
  overflow: scroll;
  
}

.container {
 background-size: 450px;
 background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 14px 40px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  position: fixed;
  overflow: hidden;
  width: 900px;
  min-height: 580px;
  margin-top: 650px;
  overflow: auto;
}


.form-container {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 1500px;
  padding: 80px 40px;
  background: currentColor #c2d6d6 ;
} 

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 40%;
  font-size: 22px;
}

td, th {
 
  text-align: left;
  padding: 8px;
}
