@charset "ISO-8859-1";


 body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 14vh;  
   margin: 0;
    padding: 0;
    border: 0;
    background-color: #597272;
    background-size: cover;
}

 header {
    position: fixed;
    background: #052d31;
    padding: 20px;
    width: 100%;
    height: 50px;
  }

  .left_area h3 {
    color: rgb(24, 218, 33);
    text-transform: uppercase;
    margin: 0 20;
    font-size: 30px;
    font-weight: 900;
  }

  .left_area span{
    color: rgb(245, 245, 245);
  }

h1 {
  color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
}

.form-container  span{
  color: rgb(255, 255, 255);
}

.h1case{
  color: rgb(24, 218, 33);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
  }

  .h1case span{
    color: rgb(245, 245, 245);
  }

a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

p {
  color: white;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;

}

a:hover {
  text-decoration: underline;
}

form {
  background-color: #395858;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 60px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

select {
  background-color: #eee;
  border: none;
  padding: 4px 25px;
  margin: 8px 7px;
  width: 111px;
  height: 30px;
  margin-bottom: 20px;
}

.bday {
    display: inline-table;
}

button {
  border-radius: 20px;
  border: 1px solid #2F4F4F;
  background-color: #052d31;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.container {
  background-color: #052d31;
  border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 840px;
  max-width: 100%;
  min-height: 480px;
  margin-top: 650px;
}

#logo {
    height: 80px;
    right: 130px;
    bottom: 20px; 
    position: relative;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 500px;
  transition: all 0.6s ease-in-out;
  text-align: center;
} 

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;

}

.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  background: #59788e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: black;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
    transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 30%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  background-color: #052d31;

}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}